@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To TASKY</h1>
    <p>To create a new TASKY move To task page</a>.</p>
</div>
